{% extends 'html/base.html' %}
{% load static %}
{% block title %}Item List{% endblock %}
{% block content %}
	<div class="row">
		<div class="card col-md-4 shadow-lg mx-2 h-100">
			<div class="card-body">
				<form method="POST" enctype="multipart/form-data">	
					{% csrf_token %}			
					<h3 class="text-center text-light bg-secondary p-2 border rounded">Add Pizzas</h3>
					{% for j in k %}
						{{j}}
					{% endfor %}
				<div class="row">
					<div class="col">
						<input type="reset" name="Reset" class="btn-outline-info my-2 form-control">
					</div>
					<div class="col">
						<input type="submit" name="Create" class="btn-outline-success my-2 form-control">
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="card col-md shadow-lg mx-2">
			<div class="card-body">
				<h3 class="text-light bg-secondary p-2 border rounded">List of Items</h3>
				<table class="table table-borderless table-hover">
					<tr class="bg-dark text-light">
						<th>S.no</th>
						<th>Pizza Name</th>
						<th>Regular</th>
						<th>Medium</th>
						<th>Large</th>
						<th>Category</th>
						<th>Actions</th>

					</tr>
					{% for k in p %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{k.pname}}</td>
							<td>{{k.pregular}}</td>
							<td>{{k.pmedium}}</td>
							<td>{{k.plarge}}</td>
							<td>{% if k.pcategory == 'VG' %}
								<span class="badge badge-success">Veg</span>
								{% else %}
								<span class="badge badge-danger">Non-Veg</span>
								{% endif %}
							</td>
							<td>
								<a href="{% url 'itemup' k.id %}" class="btn btn-outline-warning mx-1">update</a><a href="{% url 'itemdel' k.id %}" class="btn btn-outline-danger mx-1">Delete</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}